
[data-efvi-visibilidad=oculto] , [data-efvi-visibilidad=oculto] * {
	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;

	
	overflow: hidden;				
	
	font-size: 0px;
	padding: 0px;
	margin: 0px;

	opacity: 0;
	
	
}

[data-efvi-visibilidad=visible] , [data-efvi-visibilidad=visible] * {
	-o-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;		
}
	

[data-efvi-desplegar],[data-efvi-plegar] {
	cursor: pointer;
}

	
	
	
	
	
				

.menu {

	position: fixed;
	top: 2px;
	right: 2px;
	z-index: 999;


	background-color: lightblue;
	padding: 10px;
	border-radius: 5px;
}
					
.menu a {
	text-decoration: none;
}
		


.rotarz {
	transform: rotatez(270deg);
}					
.rotarz ul {
	transform: rotatez(-600deg);
}


.rotarx {			
	
	transition: all 3s;		
	
	
	transform: rotatex(360deg);
}
